@using GleamTech.Examples
@using GleamTech.VideoUltimate
@using GleamTech.Web.Mvc
@{
    var exampleExplorer = new ExampleExplorer
    {
        FullViewport = true,
        NavigationTitle = "VideoUltimate Examples",
        VersionTitle = "v" + VideoUltimateConfiguration.AssemblyInfo.FileVersion,
        Examples = new ExampleBase[]
        {
            new Example
            {
                Title = "Overview",
                Url = "home/Overview",
                SourceFiles = new[] {"Views/Home/Overview.cshtml", "Controllers/HomeController.Overview.cs"},
                DescriptionFile = "Descriptions/Overview.html"
            },
            new Example
            {
                Title = "Reading video frames",
                Url = "home/Reading",
                SourceFiles = new[] { "Views/Home/Reading.cshtml", "Controllers/HomeController.Reading.cs"},
                DescriptionFile = "Descriptions/Reading.html"
            }
        },
        ExampleProjectName = "ASP.NET MVC (C#)",
        ExampleProjects = ExamplesConfiguration.LoadExampleProjects(Server.MapPath("~/App_Data/ExampleProjects.json"))
    };
}
<!DOCTYPE html>

<html>
<head>
    <title>VideoUltimate Examples - ASP.NET MVC (C#)</title>

    @Html.RenderCss(exampleExplorer)
    @Html.RenderJs(exampleExplorer)

</head>
<body>
    @Html.RenderControl(exampleExplorer)
</body>
</html>
